header {
    background-color: #e8e8e8;
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.software-parqueo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #d8d8d8;
    color: #000000;
    padding: 10px;
    text-align: center;
}

.contenido {
    padding: 20px;
}

.footer {
    background-color: #d8d8d8;
    color: #fff;
    text-align: right;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px); /* Restar 20px al ancho para dar espacio a la imagen */
}

/* Estilos para los elementos <p> dentro del pie de página */
.footer p {
    display: flex;
    left: 10px;
    margin-right: 10px; /* Separación entre el texto y la imagen */
    color: #000000;
}

/* Estilos para la imagen dentro del pie de página */
.footer img {
    width: 50px;
    height: 50px;
    float: right; /* Colocar la imagen a la derecha */
}